<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Georgia&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link href="{% if not child_dir %}../{% endif %}style.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
    <table style="border:0px solid black" width=100%>
    <tr>
        <td><h1>{{ title }}</h1></td>
        <td width=20px valign=top style="padding-top:40px">{{ ISSUE_DATE }}</td>
    </tr>
    </table>

<h2>Editor's note</h2>
{{ editors_note | replace('\n', '<br>') }}
<h2>Today's stories</h2>
{% for story in stories %}
    <a href="{{child_dir}}{{ story.sources[0] }}.html">{{ story.title }}</a><br>
    {{ story.full_story.lead }}<br><a href="{{child_dir}}{{ story.sources[0] }}.html">read more...</a><br><br>
{% endfor %}

<h2>Ads</h2>
{% for ad in ads %}
    {% if 'name' in ad %}
        <h4>{{ ad['name'] }}</h4>
        {% if 'company' in ad %}
            <h5>by {{ ad['company'] }}</h5>
        {% endif %}
        {% if 'description' in ad %}
            {{ ad['description'] }}<br>
        {% endif %}
        {% if 'price' in ad %}
            <b>price:</b>  {{ ad['price'] }}<br>
        {% endif %}
        <br>
    {% endif %}
{% endfor %}
<h2>Editorial Team</h2>

<h3>Our Journalists</h3>
<dl>
  <dt>Felicity "Scoop" Sanders - Senior Reporter</dt>
  <dd>Felicity "Scoop" Sanders is known for her tenacious pursuit of breaking news stories. She will go to any lengths to uncover the truth, whether that means staking out tech conferences or posing as a janitor to infiltrate a secretive start-up. Her colleagues often joke that she has the instincts of a bloodhound. While her methods may be unorthodox, Felicity's investigative skills are unmatched and she often breaks major stories before anyone else.</dd>
  
  <dt>Chip "The Geek" Gallagher - Tech Expert</dt>
  <dd>A self-proclaimed tech whiz, Chip "The Geek" Gallagher is the office's go-to expert on all things related to gadgets and software. He is obsessed with the latest tech trends, always the first to buy and dissect new devices. With a mind like a steel trap, Chip can recall the specs of any product he's ever laid his hands on. He has a knack for translating complex tech jargon into digestible tidbits for the tabloid's readership.</dd>
  
  <dt>Daphne "The Whisperer" Lane - Gossip Columnist</dt>
  <dd>Daphne "The Whisperer" Lane is the office's gossip guru, with a sixth sense for unearthing the juiciest tidbits about the lives of tech industry titans. Skilled in the art of schmoozing, she is often found rubbing elbows with the who's who of Silicon Valley at exclusive parties and events. Daphne has a vast network of sources, ensuring she always has the inside scoop on the latest scandals and romances in the tech world.</dd>
  
  <dt>Lenny "Deadline" Dawson - Staff Writer</dt>
  <dd>Lenny "Deadline" Dawson is a seasoned staff writer who has perfected the art of churning out articles at lightning speed. He has an uncanny ability to crank out captivating stories just minutes before the final deadline, leaving his colleagues in awe of his time management skills. While his reporting may occasionally lack depth, Lenny's talent for witty wordplay and his keen eye for visuals ensure that his articles are always engaging.</dd>
  
  <dt>Father Wojciech "The Holy Scribe" Kowalski - Ethics Consultant</dt>
  <dd>Father Wojciech "The Holy Scribe" Kowalski is a devout Polish-Catholic priest who serves as the office's moral compass. He is committed to bringing a sense of godliness and righteousness to the tabloid's content, even in the face of sensationalism. Always dressed in his traditional priestly attire, Father Kowalski is a stern yet well-respected figure in the office. Though his colleagues often push the boundaries, he never wavers in his pursuit of ethical journalism, often sprinkling spiritual wisdom throughout the paper.</dd>
  
  <dt>Olivia "The Dreamer" Thompson - Junior Reporter</dt>
  <dd>Olivia "The Dreamer" Thompson is a young, overly ambitious journalist, fresh out of journalism school and eager to make a name for herself. She dreams of one day writing for the Wall Street Journal and gaining international fame by winning a Pulitzer Prize. Olivia constantly pushes herself to uncover groundbreaking stories, hoping to impress both her colleagues and the industry at large. Her relentless drive and optimism make her a force to be reckoned with in the editorial office.</dd>
  
<dt>Dr. Benjamin "Nobel Scribe" Clarke -Science Columnist</dt>
  <dd>Dr. Benjamin "Nobel Scribe" Clarke is a journalist Nobel Prize laureate who brings a wealth of knowledge and prestige to the tabloid. Despite his illustrious background, he doesn't quite fit in with the rest of the staff, often struggling to find a balance between his journalistic integrity and the tabloid's sensationalist nature. However, the job pays the bills, so he does his best to adapt while still offering well-researched and informative science articles. His presence in the office serves as a constant reminder of the heights that journalism can reach.</dd>
</dl>


<h3>Our Marketer</h3>
<dl>
  <dt>Chuck "The Huckster" Malone - Gadget Guru &amp; Marketing Mastermind</dt>
  <dd>Chuck "The Huckster" Malone is a sleazy, yet dimwitted marketing expert who specializes in concocting outrageous and unbelievable gadgets that he believes will captivate the readers. Despite his ineptitude, Chuck's wild imagination and unwavering confidence in his ludicrous inventions make him an oddly entertaining presence in the office. His articles showcasing bizarre and impractical products never fail to amuse, leaving readers wondering if he's a genius or simply a master of the absurd.</dd>
</dl>

</body>
</html>
