<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Georgia&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link href="../style.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
    <table style="border:0px solid black" width=100%>
    <tr>
        <td><h1>{{ title }} -- {{story.title}}</h1></td>
        <td width=20px valign=top style="padding-top:40px">{{ ISSUE_DATE }}</td>
    </tr>
    </table>

  <article>
    <h2>{{ story.title }}</h2>
    <p><em>By {{ story.author }}</em></p>
    <p><strong>Date:</strong> 23 Apr 2023</p>
    <b><i>{{ story.full_story.lead }}</b></i>
    <p>{{ story.full_story.text }}</p>
  </article>
</body>
</html>
